@import "./font";

// Media Query Manager
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px;
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // 900px;
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } // 1200px;
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } // 1800px;
  }
}

// Default Reset

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-size: 65.5%; // 1rem = 10px, 10px/16px = 62.5%
}

// Colors
$color-white: #ffffff;
$color-text: #161616;
$color-btn-bkg: #f47079;
$color-body-bkg: #fef2f1;

// Typography, Layout and Components

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-family: "Graphik";
  font-weight: 400;
  background-color: #fef2f1;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 7rem;
  object-fit: contain;
  margin-top: 10rem;
  object-fit: contain;
  align-self: center;

  @media screen and (max-width: 1600px) {
    // width: 12rem;
    // margin-top: 10rem;
  }

  @media screen and (max-width: 1440px) {
    // margin-top: 5rem;
  }

  @media screen and (max-width: 1200px) {
    // margin-top: 4rem;
    // width: 9rem;
  }

  @media screen and (max-width: 1024px) {
    // width: 7rem;
  }

  @media screen and (max-width: 600px) {
    // width: 6rem;
    // margin-top: 5rem;
  }
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.display-none {
  display: none;
}

.display-hidden {
  visibility: hidden;
}

.position-fixed {
  position: fixed;
}

.opacity-zero {
  opacity: 0;
  pointer-events: none;
}

.margin-top {
  margin-top: 7.7rem;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
  // height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0.5;
  mask-image: linear-gradient(
    to top,
    from(rgba(255, 255, 255, 1)),
    to(rgba(255, 255, 255, 0))
  );
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 1)),
    to(rgba(255, 255, 255, 0))
  );
}

//Home Page CSS
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  .hero-text {
    &__primary {
      margin-top: 1rem;
      font-family: Graphik;
      font-size: 5rem;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.37;
      letter-spacing: normal;
      text-align: center;
      color: #161616;

      @media screen and (max-width: 1600px) {
        // width: 100%;
        // margin-top: 4rem;
        // padding: 0 15%;
        // font-size: 6rem;
      }

      @media screen and (max-width: 1200px) {
        // width: 100%;
        // margin-top: 4rem;
        // padding: 0 15%;
        // font-size: 5rem;
      }

      @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 0 15%;
        font-size: 3.6rem;
      }

      @media screen and (max-width: 600px) {
        // margin-top: 4rem;
      }

      @media screen and (max-width: 426px) {
        font-size: 3rem;
        margin-top: 2rem;
      }

      @media screen and (max-width: 375px) {
        font-size: 2.4rem;
        margin-top: 2rem;
      }
    }
    &__secondary-mobile {
      display: none;

      @media screen and (max-width: 600px) {
        opacity: 0.6;
        display: flex;
        width: 100%;
        margin: 1rem auto;
        margin-bottom: 1rem;
        padding: 0 15%;
        font-size: 1.8rem;
      }

      @media screen and (max-width: 425px) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: 375px) {
        font-size: 1.6rem;
      }

      @media screen and (max-width: 320px) {
        font-size: 1.4rem;
      }
    }

    &__secondary {
      opacity: 0.6;
      // margin-top: 1rem;
      font-family: Graphik;
      font-size: 3rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: #161616;

      @media screen and (max-width: 1600px) {
        // padding: 0 15%;
        // font-size: 3.6rem;
      }

      @media screen and (max-width: 1440px) {
        // font-size: 3.2rem;
      }

      @media screen and (max-width: 1200px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 1024px) {
        // margin-top: 0rem;
        font-size: 2rem;
      }

      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-top: 3.2rem;

    @media screen and (max-width: 600px) {
      margin-top: 0;
    }
  }

  .btn {
    // width: 15%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    align-self: center;
    font-size: 2.5rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: $color-white;
    padding: 2.5rem 10rem;
    border-radius: 0.8rem;
    z-index: 2;
    background-color: $color-btn-bkg;
    transition: all 0.4s;
    transition: all 0.2s ease-in-out;

    @media screen and (max-width: 1600px) {
      font-size: 2rem;
      padding: 1.8rem 8rem;
    }

    @media screen and (max-width: 1200px) {
      font-size: 1.6rem;
    }

    @media screen and (max-width: 1200px) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: 900px) {
      width: 25%;
    }

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
      padding: 1.4rem 4.5rem;
      width: 33%;
    }

    @media screen and (max-width: 320px) {
      width: 40%;
    }
  }

  .leaf-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    transform: rotate(0deg);
    transform-origin: 100% 100%;
    z-index: -1;

    @media screen and (max-width: 900px) {
      top: 0rem;
      left: 0rem;
      width: 30%;
      transform: rotate(-10deg);
      transform-origin: 100% 225%;
    }

    @media screen and (max-width: 600px) {
      top: 0rem;
      left: 0rem;
      width: 45%;
      transform: rotate(-10deg);
      transform-origin: 100% 225%;
    }
  }

  .leaf-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    z-index: -1;

    @media screen and (max-width: 900px) {
      top: 0rem;
      right: 0rem;
      width: 30%;
      transform: rotate(28deg);
      transform-origin: 150% 95%;
      // overflow: hidden;
    }

    @media screen and (max-width: 600px) {
      top: 0rem;
      right: 0rem;
      width: 45%;
      transform: rotate(28deg);
      transform-origin: 150% 95%;
      // overflow: hidden;
    }
  }

  .morph-icon-left {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 55%;
    z-index: -1;

    @media screen and (max-width: 1800px) {
      top: 5rem;
      left: -50rem;
      width: 105%;
      transform: rotate(5deg);
      // transform-origin: -30% -805%;
      // overflow: hidden;
    }

    @media screen and (max-width: 1200px) {
      top: 0rem;
      left: 0rem;
      width: 45%;
      transform: rotate(5deg);
      // transform-origin: 40% -15%;
      // overflow: hidden;
    }

    @media screen and (max-width: 900px) {
      display: block;
      top: -6rem;
      left: -22rem;
      width: 55%;
      transform: rotate(5deg);
      // transform-origin: 210% -525%;
      // overflow: hidden;
    }

    @media screen and (max-width: 768px) {
      display: block;
      top: -10rem;
      left: -22rem;
      width: 55%;
      transform: rotate(5deg);
      // transform-origin: 210% -525%;
      // overflow: hidden;
    }

    @media screen and (max-width: 600px) {
      top: -12rem;
      left: -23rem;
      width: 65%;
      transform: rotate(5deg);
      // transform-origin: 120% -1000%;
      // overflow: hidden;
    }

    @media screen and (max-width: 426px) {
      top: -16rem;
      left: -20rem;
      width: 75%;
      transform: rotate(5deg);
      // transform-origin: 130% -800%;
      // overflow: hidden;
    }

    @media screen and (max-width: 375px) {
      top: -16rem;
      left: -15rem;
      width: 75%;
      transform: rotate(5deg);
      // transform-origin: 200% -600%;
      // overflow: hidden;
    }

    @media screen and (max-width: 320px) {
      top: -19rem;
      left: -15rem;
      width: 75%;
      transform: rotate(5deg);
      // transform-origin: 350% -500%;
      // overflow: hidden;
    }
  }

  .morph-icon-right {
    display: none;
    position: fixed;
    top: 0rem;
    right: 0;
    width: 55%;
    z-index: -1;

    @media screen and (max-width: 1800px) {
      top: 30rem;
      right: -5rem;
      width: 55%;
      transform: rotate(5deg);
      // transform-origin: -400% 50%;
    }

    @media screen and (max-width: 1200px) {
      top: 1rem;
      right: 0rem;
      width: 50%;
      transform: rotate(5deg);
      // transform-origin: -100% 50%;
    }

    @media screen and (max-width: 900px) {
      display: block;
      top: 10rem;
      left: 20rem;
      width: 150%;
      z-index: -1;
    }

    @media screen and (max-width: 600px) {
      top: 10rem;
      left: 20rem;
      width: 150%;
      transform: rotate(5deg);
      // transform-origin: 10% 15%;
    }

    @media screen and (max-width: 426px) {
      top: 0;
      left: 10rem;
      width: 180%;
      transform: rotate(5deg);
      // transform-origin: -30% -50%;
    }

    @media screen and (max-width: 375px) {
      bottom: 0;
      right: 0;
      width: 180%;
      transform: rotate(5deg);
      // transform-origin: -10% -90%;
    }
  }

  .morph-icon-left-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 55%;
    z-index: -1;

    @media screen and (max-width: 1800px) {
      top: 0rem;
      left: -70rem;
      width: 125%;
      transform: rotate(5deg);
      // transform-origin: -30% -805%;
      // overflow: hidden;
    }

    @media screen and (max-width: 1440px) {
      top: 0rem;
      left: -50rem;
      width: 105%;
      transform: rotate(5deg);
      // transform-origin: -30% -805%;
      // overflow: hidden;
    }

    @media screen and (max-width: 1200px) {
      top: -10rem;
      left: 0rem;
      width: 40%;
      transform: rotate(5deg);
      // transform-origin: 40% -15%;
      // overflow: hidden;
    }

    @media screen and (max-width: 1024px) {
      top: -10rem;
      left: 0rem;
      transform: rotate(5deg);
      // transform-origin: 40% -15%;
      // overflow: hidden;
    }

    @media screen and (max-width: 900px) {
      display: none;
      top: -6rem;
      left: -22rem;
      width: 55%;
      transform: rotate(5deg);
      // transform-origin: 210% -525%;
      // overflow: hidden;
    }

    @media screen and (max-width: 600px) {
      top: -5rem;
      left: -23rem;
      width: 85%;
      transform: rotate(5deg);
      // transform-origin: 120% -1000%;
      // overflow: hidden;
    }

    @media screen and (max-width: 426px) {
      top: -10rem;
      left: -20rem;
      width: 95%;
      transform: rotate(5deg);
      // transform-origin: 130% -800%;
      // overflow: hidden;
    }

    @media screen and (max-width: 375px) {
      top: -13rem;
      left: -20rem;
      width: 95%;
      transform: rotate(5deg);
      // transform-origin: 200% -600%;
      // overflow: hidden;
    }

    @media screen and (max-width: 320px) {
      top: -14rem;
      left: -20rem;
      width: 107%;
      transform: rotate(5deg);
      // transform-origin: 350% -500%;
      // overflow: hidden;
    }
  }

  .morph-icon-right-desktop {
    position: fixed;
    top: 0rem;
    right: 0;
    width: 55%;
    z-index: -1;

    @media screen and (max-width: 1800px) {
      top: 30rem;
      right: -5rem;
      width: 55%;
      transform: rotate(5deg);
      // transform-origin: -400% 50%;
    }

    @media screen and (max-width: 1200px) {
      top: 15rem;
      right: 0rem;
      width: 55%;
      transform: rotate(5deg);
      // transform-origin: -100% 50%;
    }

    @media screen and (max-width: 900px) {
      display: none;
      top: 10rem;
      left: 20rem;
      width: 150%;
      z-index: -1;
    }

    @media screen and (max-width: 600px) {
      top: 10rem;
      left: 20rem;
      width: 150%;
      transform: rotate(5deg);
      // transform-origin: 10% 15%;
    }

    @media screen and (max-width: 426px) {
      top: 0;
      left: 10rem;
      width: 180%;
      transform: rotate(5deg);
      // transform-origin: -30% -50%;
    }

    @media screen and (max-width: 375px) {
      bottom: 0;
      right: 0;
      width: 180%;
      transform: rotate(5deg);
      // transform-origin: -10% -90%;
    }
  }

  .purple-dot {
    position: relative;
    bottom: 12rem;
    left: 20rem;
    width: 2rem;
    z-index: -1;

    @media screen and (max-width: 1200px) {
      bottom: 18rem;
      left: 5rem;
      width: 1.5rem;
    }

    @media screen and (max-width: 900px) {
      bottom: 18rem;
      left: -15rem;
      width: 1.2rem;
    }

    @media screen and (max-width: 600px) {
      bottom: 35rem;
      left: -30rem;
    }

    @media screen and (max-width: 426px) {
      position: absolute;
      top: 0rem;
      left: 0rem;
      z-index: -1;
      width: 1.2rem;
    }

    @media screen and (max-width: 364px) {
      display: none;
    }
  }

  .pink-dot {
    position: relative;
    bottom: 5rem;
    right: 34rem;
    width: 3rem;
    z-index: -1;

    @media screen and (max-width: 1440px) {
      bottom: 5rem;
      right: 22rem;
      width: 2.2rem;
      z-index: -1;
    }

    @media screen and (max-width: 1200px) {
      width: 2rem;
    }

    @media screen and (max-width: 900px) {
      width: 1.6rem;
    }

    @media screen and (max-width: 600px) {
      bottom: 15rem;
      right: 25rem;
      width: 1.5rem;
    }

    @media screen and (max-width: 426px) {
      position: relative;
      bottom: 25rem;
      right: 18rem;
      width: 1.5rem;
    }

    @media screen and (max-width: 375px) {
      position: relative;
      bottom: 20rem;
      right: 14rem;
      width: 1.5rem;
    }
  }

  .yellow-dot {
    position: relative;
    top: -5rem;
    left: 26rem;
    width: 3rem;
    z-index: -1;

    @media screen and (max-width: 1200px) {
      top: 0rem;
      left: 22rem;
      width: 1.6rem;
    }

    @media screen and (max-width: 900px) {
      top: 0rem;
      left: 10rem;
      width: 1.6rem;
    }

    @media screen and (max-width: 600px) {
      top: -15rem;
      left: 1rem;
      width: 1.4rem;
    }

    @media screen and (max-width: 426px) {
      position: relative;
      top: -20rem;
      left: -8rem;
      width: 1.2rem;
    }

    @media screen and (max-width: 320px) {
      position: relative;
      top: 0rem;
      left: -6rem;
      width: 1rem;
    }
  }

  .pie-chart {
    position: absolute;
    top: 62rem;
    left: 110rem;
    width: 7%;
    z-index: -1;

    @media screen and (max-width: 1600px) {
      top: 62rem;
      left: 90rem;
      width: 7%;
    }

    @media screen and (max-width: 1200px) {
      top: 62rem;
      left: 76rem;
      width: 8%;
    }

    @media screen and (max-width: 1024px) {
      top: 54rem;
      left: 70rem;
      width: 9%;
    }

    @media screen and (max-width: 900px) {
      top: 56rem;
      left: 58rem;
      width: 8%;
    }

    @media screen and (max-width: 600px) {
      top: 56rem;
      left: 38rem;
      width: 10%;
    }

    @media screen and (max-width: 426px) {
      top: 56rem;
      left: 25rem;
      width: 15%;
    }
    @media screen and (max-width: 320px) {
      top: 56rem;
      left: 20rem;
      width: 15%;
    }
  }

  .green-dot-mobile {
    display: none;

    @media screen and (max-width: 900px) {
      display: block;
      position: absolute;
      top: 54rem;
      left: 19rem;
      width: 1.5rem;
      z-index: -1;
    }

    @media screen and (max-width: 600px) {
      top: 54rem;
      left: 13rem;
      width: 1.5rem;
      z-index: -1;
    }

    @media screen and (max-width: 426px) {
      top: 54rem;
      left: 9rem;
      width: 1.5rem;
      z-index: -1;
    }
  }

  .home-triangle-mobile {
    display: none;

    @media screen and (max-width: 900px) {
      display: block;
      position: absolute;
      top: 50rem;
      left: 14rem;
      width: 14rem;
      z-index: -1;
    }

    @media screen and (max-width: 600px) {
      top: 50rem;
      left: 8rem;
      width: 14rem;
      z-index: -1;
    }

    @media screen and (max-width: 426px) {
      top: 50rem;
      left: 4rem;
      width: 14rem;
      z-index: -1;
    }
  }

  .green-dot {
    position: absolute;
    top: 50.5rem;
    left: 42rem;
    width: 2rem;
    z-index: -1;

    @media screen and (max-width: 1440px) {
      top: 50.5rem;
      left: 34rem;
      width: 2rem;
    }

    @media screen and (max-width: 1200px) {
      left: 28rem;
    }

    @media screen and (max-width: 1024px) {
      top: 42rem;
      left: 21rem;
      width: 1.5rem;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .home-triangle {
    position: absolute;
    top: 52rem;
    left: 42rem;
    width: 21rem;
    z-index: -1;

    @media screen and (max-width: 1440px) {
      top: 52rem;
      left: 34rem;
      width: 21rem;
    }

    @media screen and (max-width: 1200px) {
      top: 52rem;
      left: 28rem;
    }

    @media screen and (max-width: 1024px) {
      top: 42rem;
      left: 20rem;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .star {
    position: relative;
    top: 0rem;
    left: 90rem;
    width: 4%;
    z-index: -1;

    @media screen and (max-width: 1600px) {
      top: -3rem;
      left: 78rem;
      width: 3%;
      margin-bottom: 0rem;
    }

    @media screen and (max-width: 1440px) {
      top: -3rem;
      left: 74rem;
      width: 3%;
    }

    @media screen and (max-width: 1200px) {
      top: -1rem;
      left: 62rem;
      width: 4%;
    }

    @media screen and (max-width: 1024px) {
      left: 52rem;
    }

    @media screen and (max-width: 900px) {
      left: 48rem;
    }

    // @media screen and (max-width: 768px) {
    //   position: relative;
    //   bottom: 33rem;
    //   left: 42rem;
    //   width: 6%;
    //   margin-bottom: 0rem;
    // }

    @media screen and (max-width: 600px) {
      left: 34rem;
    }

    @media screen and (max-width: 426px) {
      top: -1rem;
      left: 24rem;
      width: 7%;
    }

    @media screen and (max-width: 375px) {
      top: -1rem;
      left: 20rem;
    }

    // @media screen and (max-width: 320px) {
    //   position: relative;
    //   bottom: 29rem;
    //   left: 18rem;
    //   width: 8%;
    //   margin-bottom: 0rem;
    // }
  }

  .btn:hover {
    transform: scale(1.1);
  }
} //End of home page css

//Signup page css
.signup-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  .leaf-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    z-index: -1;

    @media screen and (max-width: 900px) {
      top: 0rem;
      right: 0rem;
      width: 20%;
      transform: rotate(130deg);
      transform-origin: 275% 175%;
      overflow: hidden;
    }

    @media screen and (max-width: 600px) {
      width: 25%;
      transform: rotate(130deg);
      transform-origin: 224% 150%;
      overflow: hidden;
    }
  }
  .leaf-center {
    position: fixed;
    top: 0;
    align-self: center;
    width: 15%;
    z-index: -1;

    @media screen and (max-width: 1440px) {
      top: -2rem;
    }

    @media screen and (max-width: 600px) {
      top: 0;
      width: 20%;
    }
  }
  .leaf-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    z-index: -1;

    @media screen and (max-width: 900px) {
      top: 0rem;
      left: 0rem;
      width: 20%;
      transform: rotate(-130deg);
      transform-origin: 25% 70%;
    }

    @media screen and (max-width: 600px) {
      top: 0rem;
      left: 0rem;
      width: 25%;
      transform: rotate(-130deg);
      transform-origin: 25% 70%;
    }
  }
  .morph-icon-left {
    display: none;
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    width: 40%;
    transform: rotate(10deg);
    // transform-origin: 100% -210%;
    z-index: -1;

    @media screen and (max-width: 600px) {
      display: block;
      top: -5rem;
      left: -20rem;
      width: 60%;
      transform: rotate(5deg);
      // transform-origin: 400% -600%;
    }

    @media screen and (max-width: 426px) {
      top: 0rem;
      left: -15rem;
      width: 60%;
      transform: rotate(5deg);
      // transform-origin: 400% -600%;
    }

    @media screen and (max-width: 375px) {
      top: 0rem;
      left: -10rem;
      width: 60%;
      transform: rotate(5deg);
      // transform-origin: 400% -600%;
    }

    @media screen and (max-width: 320px) {
      top: 0rem;
      left: -10rem;
      width: 65%;
      transform: rotate(5deg);
      // transform-origin: 400% -600%;
    }
  }
  .morph-icon-right {
    display: none;
    position: fixed;
    top: 0rem;
    right: 0rem;
    width: 50%;
    transform: rotate(10deg);
    // transform-origin: -190% 230%;
    z-index: -1;

    @media screen and (max-width: 600px) {
      display: block;
      top: 8rem;
      right: -40rem;
      width: 140%;
      transform: rotate(5deg);
      // transform-origin: -400% 500%;
    }

    @media screen and (max-width: 426px) {
      top: 10rem;
      right: -33rem;
      width: 155%;
      transform: rotate(5deg);
      // transform-origin: -250% 630%;
    }

    @media screen and (max-width: 375px) {
      top: 10rem;
      right: -28rem;
      transform: rotate(5deg);
      // transform-origin: -150% 630%;
    }

    @media screen and (max-width: 320px) {
      top: 10rem;
      right: -40rem;
      width: 200%;
      transform: rotate(5deg);
      // transform-origin: -150% 630%;
    }
  }

  .morph-icon-left-desktop {
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    width: 40%;
    transform: rotate(10deg);
    // transform-origin: 100% -210%;
    z-index: -1;

    @media screen and (max-width: 1600px) {
      bottom: 0rem;
      left: 0rem;
      width: 35%;
      transform: rotate(10deg);
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  .morph-icon-right-desktop {
    position: fixed;
    top: 0rem;
    right: 0rem;
    width: 50%;
    transform: rotate(10deg);
    z-index: -1;

    @media screen and (max-width: 1600px) {
      top: 0rem;
      right: 0rem;
      width: 45%;
      transform: rotate(10deg);
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .hero-text {
    &__primary {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      align-self: center;
      color: $color-text;
      margin-top: 3rem;

      @media screen and (max-width: 1200px) {
        font-size: 3rem;
      }

      @media screen and (max-width: 1024px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 900px) {
        margin-top: 5rem;
      }

      @media screen and (max-width: 600px) {
        margin-top: 3rem;
      }
    }
    &__secondary {
      width: 100%;
      opacity: 0.5;
      font-size: 2.1rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.79;
      letter-spacing: normal;
      color: $color-text;
      align-self: center;
      margin-top: 0.5rem;

      @media screen and (max-width: 1024px) {
        font-size: 1.6rem;
      }

      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  .header2-div {
    align-self: center;
  }

  .header2 {
    display: none;
  }

  .header2-text {
    width: 100%;
    font-size: 4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    margin-top: 3rem;
    align-self: center;
    color: $color-text;

    .display-none {
      display: none;
    }

    .margin-bottom {
      margin-bottom: 3.2rem;
    }

    .name-color {
      color: #15777c;
    }

    @media screen and (max-width: 1200px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 2.4rem;
    }

    @media screen and (max-width: 900px) {
      margin-top: 5rem;
    }

    @media screen and (max-width: 600px) {
      margin-top: 3rem;
    }
  }

  .btn1,
  .btn2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38.5rem;
    width: 5vw;
    height: 17rem;
    z-index: 2;
    background-color: #15777c;
    cursor: pointer;

    // @media screen and (max-width: 1600px) {
    //   top: 39rem;
    // }

    @media screen and (max-width: 1440px) {
      top: 34rem;
      height: 12rem;
    }

    @media screen and (max-width: 1200px) {
      top: 29rem;
      height: 10rem;
    }

    // @media screen and (max-width: 1024px) {
    //   top: 36rem;
    // }

    @media screen and (max-width: 1024px) {
      top: 26.3rem;
      width: 6vw;
      height: 7rem;
    }
  }

  .btn1 {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
  }

  .btn2 {
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    right: 0;
  }

  .oval {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -1;
    background-color: #115b5f;

    .arrow {
      color: #ffffff;
      font-size: 3.5rem;
      font-weight: 900;
      cursor: pointer;
    }
  }

  .slider {
    // position: absolute;
    // top: 33rem;
    width: 100vw;
    display: flex;
    overflow-x: hidden;

    &__slide {
      display: flex;
      .card1,
      .card2,
      .card3 {
        position: relative;
        width: 46vw;
        left: 33vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 8px;
        box-shadow: 0 40px 56px 0 rgba(11, 16, 51, 0.06);
        margin-top: 3.2rem;
        padding: 4rem 0;
        padding-left: 3rem;
        background-color: #ffffff;
        z-index: 1;

        @media screen and (max-width: 1440px) {
          padding: 3rem 0;
          padding-left: 3rem;
        }

        @media screen and (max-width: 900px) {
          padding: 1.5rem 0;
          padding-left: 3rem;
        }

        .header {
          font-family: Graphik;
          font-size: 2.8rem;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.31;
          letter-spacing: normal;
          color: #000000;

          @media screen and (max-width: 1440px) {
            font-size: 2rem;
          }

          @media screen and (max-width: 1024px) {
            font-size: 1.4rem;
          }
        }

        .required {
          font-family: Graphik;
          font-size: 2rem;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.81;
          letter-spacing: normal;
          color: #f47079;
          margin-top: 1rem;

          @media screen and (max-width: 1440px) {
            font-size: 1.6rem;
            margin-top: 1.2rem;
          }

          @media screen and (max-width: 1024px) {
            font-size: 1.2rem;
          }
        }

        .input {
          ::placeholder {
            opacity: 0.1;
          }

          :focus {
            outline: none;
          }

          .input_tag {
            border: none;
            width: 40vw;
            font-family: Graphik;
            font-size: 5.2rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.71;
            letter-spacing: normal;
            color: #4e4e4e;
            margin-top: 1rem;

            @media screen and (max-width: 1440px) {
              font-size: 4rem;
              margin-top: 1.8rem;
            }

            @media screen and (max-width: 1024px) {
              font-size: 2.4rem;
            }
          }
        }
      }

      .card1,
      .card2 {
        width: 35vw;
        margin-right: 2vw;
        .input {
          .input_tag {
            width: 32vw;

            @media screen and (max-width: 900px) {
              width: 30vw;
            }
          }
        }
      }
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .slider-mobile {
    display: none;

    @media screen and (max-width: 600px) {
      // position: absolute;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      overflow-x: hidden;
      // background-color: red;

      .btn1-mobile,
      .btn2-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 24.9rem;
        width: 10vw;
        height: 10vh;
        border-radius: 50%;
        z-index: 2;
        // background-color: #15777c;
        cursor: pointer;
      }

      .btn1-mobile {
        border-bottom-right-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        left: 0.5rem;
      }

      .btn2-mobile {
        border-bottom-left-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
        right: 2.4rem;
      }

      .oval1-mobile {
        .arrow-mobile {
          color: #15777c;
          font-size: 3.5rem;
          margin-left: 2rem;
          margin-top: 1rem;
          font-weight: 900;
          cursor: pointer;
        }
      }

      .oval2-mobile {
        .arrow-mobile {
          color: #15777c;
          font-size: 3.5rem;
          margin-left: 2rem;
          margin-top: 1rem;
          font-weight: 900;
          cursor: pointer;
        }
      }

      &__slide-mobile {
        display: flex;
        width: 100vw;
        // background-color: green;

        .card1-mobile,
        .card2-mobile,
        .card3-mobile {
          position: relative;
          width: 100vw;
          left: 0vw;
          // left: 5vw;
          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          // align-items: flex-start;
          // border-radius: 8px;
          // box-shadow: 0 40px 56px 0 rgba(11, 16, 51, 0.06);
          // box-shadow: .1em .1em .3em .01em rgba(0, 0, 0, 0.5);
          // box-shadow: 400px 100px 356px 0em rgba(0, 0, 0, 0.06);
          // margin: 1rem 0;
          // padding: 2rem 0;
          // padding-left: 3rem;
          // z-index: 1;

          .card1-mobile-inner,
          .card2-mobile-inner,
          .card3-mobile-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            border-radius: 8px;
            box-shadow: 400px 100px 356px 0em rgba(0, 0, 0, 0.06);
            margin: 1rem 2rem;
            padding: 2rem 0;
            padding-left: 3rem;
            z-index: 1;
            background-color: #ffffff;
          }

          .header-mobile {
            font-size: 1.8rem;
            align-self: flex-start;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            color: #000000;
          }

          .required-mobile {
            font-family: Graphik;
            font-size: 1.2rem;
            align-self: flex-start;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.81;
            letter-spacing: normal;
            color: #f47079;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          .input-mobile {
            display: flex;
            justify-content: flex-start;
            width: 100vw;
            // margin-right: 50vw;

            ::placeholder {
              opacity: 0.1;
              text-align: start;
            }

            :focus {
              outline: none;
              text-align: start;
            }

            .input_tag-mobile {
              border: none;
              width: 80vw;
              font-family: Graphik;
              align-self: flex-start;
              text-align: start;
              padding: 1rem;
              padding-left: 0;
              font-size: 2.4rem;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 0.71;
              letter-spacing: normal;
              background: transparent;
              color: #4e4e4e;
              margin-top: 1rem;
            }
          }
        }

        .card1-mobile,
        .card2-mobile {
          margin-right: 0vw;
          // margin-right: 5vw;
        }
      }
    }
  }

  .button {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 15rem;

    @media screen and (max-width: 600px) {
      display: flex;
    }
  }

  .btn {
    width: 50%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    align-self: center;
    font-size: 1.7rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: $color-white;
    padding: 1.5rem 4.5rem;
    border-radius: 0.8rem;
    z-index: 2;
    background-color: $color-btn-bkg;
    transition: all 0.4s;
    transition: all 0.2s ease-in-out;
  }

  .pie-chart {
    position: fixed;
    top: 65rem;
    left: 105rem;
    // width: 10rem;

    @media screen and (max-width: 1600px) {
      left: 90rem;
      // width: 8rem;
    }

    @media screen and (max-width: 1440px) {
      left: 85rem;
      top: 58rem;
    }

    @media screen and (max-width: 1200px) {
      left: 70rem;
      top: 48rem;
      width: 6rem;
    }

    @media screen and (max-width: 1024px) {
      left: 60rem;
      top: 40rem;
      width: 6rem;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
} //end of signup page css

//Tracker Page CSS
.tracker-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  .leaf-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    z-index: -1;

    @media screen and (max-width: 900px) {
      top: 0rem;
      right: 0rem;
      width: 20%;
      transform: rotate(130deg);
      transform-origin: 275% 175%;
      overflow: hidden;
    }

    @media screen and (max-width: 600px) {
      width: 25%;
      transform: rotate(130deg);
      transform-origin: 224% 150%;
      overflow: hidden;
    }
  }
  .leaf-center {
    position: fixed;
    top: 0;
    align-self: center;
    width: 15%;
    z-index: -1;

    @media screen and (max-width: 600px) {
      width: 20%;
    }
  }
  .leaf-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    z-index: -1;

    @media screen and (max-width: 900px) {
      top: 0rem;
      left: 0rem;
      width: 20%;
      transform: rotate(-130deg);
      transform-origin: 25% 70%;
    }

    @media screen and (max-width: 600px) {
      top: 0rem;
      left: 0rem;
      width: 25%;
      transform: rotate(-130deg);
      transform-origin: 25% 70%;
    }
  }
  .morph-icon-left {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 60%;
    transform: rotate(10deg);
    transform-origin: 100% -210%;
    z-index: -1;

    @media screen and (max-width: 1200px) {
      top: 0rem;
      left: 0rem;
      width: 60%;
      transform: rotate(10deg);
      transform-origin: 100% -210%;
    }

    @media screen and (max-width: 900px) {
      top: 0rem;
      left: 0rem;
      width: 60%;
      transform: rotate(10deg);
      transform-origin: 100% -210%;
    }

    @media screen and (max-width: 600px) {
      width: 80%;
      transform: rotate(5deg);
      transform-origin: 400% -600%;
    }
  }
  .morph-icon-right {
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    width: 90%;
    transform: rotate(10deg);
    transform-origin: -190% 230%;
    z-index: -1;

    @media screen and (max-width: 1200px) {
      bottom: 0rem;
      right: 0rem;
      width: 90%;
      transform: rotate(10deg);
      transform-origin: -190% 230%;
    }

    @media screen and (max-width: 900px) {
      bottom: 0rem;
      right: 0rem;
      width: 90%;
      transform: rotate(10deg);
      transform-origin: -170% 230%;
    }

    @media screen and (max-width: 600px) {
      width: 150%;
      transform: rotate(5deg);
      transform-origin: -400% 500%;
    }

    @media screen and (max-width: 425px) {
      width: 200%;
      transform: rotate(5deg);
      transform-origin: -250% 630%;
    }

    @media screen and (max-width: 375px) {
      width: 200%;
      transform: rotate(5deg);
      transform-origin: -150% 630%;
    }
  }
  .leaf-bottom {
    width: 50rem;
    height: 45rem;
    align-self: center;
    position: fixed;
    top: 14rem;
    z-index: -1;
  }

  .hero-text {
    &__primary {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0 20%;
      font-family: Graphik;
      font-size: 4rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
      color: $color-text;
      margin-top: 3rem;

      @media screen and (max-width: 1800px) {
        margin-top: 6rem;
      }

      @media screen and (max-width: 1440px) {
        padding: 0 22%;
        font-size: 3.4rem;
      }

      @media screen and (max-width: 1200px) {
        padding: 0 20%;
        font-size: 2.8rem;
        margin-top: 2.6rem;
        margin-bottom: 2rem;
      }

      @media screen and (max-width: 1024px) {
        padding: 0 20%;
        font-size: 2.6rem;
        margin-bottom: 2rem;
      }

      @media screen and (max-width: 600px) {
        padding: 0 10%;
        font-size: 2.2rem;
      }

      @media screen and (max-width: 425px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 320px) {
        font-size: 1.8rem;
      }
    }
  }

  .button {
    // width: 20.5%;
    border-radius: 5px;
    background-color: #f47079;
    text-align: center;
    color: #ffffff;
    font-family: Graphik;
    font-size: 3rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.94;
    letter-spacing: normal;
    padding: 2rem 3rem;
    align-self: center;
    margin: 4.5rem 0;
    margin-bottom: 4rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    @media screen and (max-width: 1600px) {
      font-size: 2.2rem;
    }

    @media screen and (max-width: 1200px) {
      margin: 4.5rem 0;
      font-size: 1.8rem;
    }

    @media screen and (max-width: 900px) {
      padding: 1.5rem 2rem;
      margin: 4.5rem 0;
      font-size: 2.2rem;
      font-size: 1.6rem;
    }

    @media screen and (max-width: 600px) {
      padding: 1.5rem 2rem;
      margin: 2.6rem 0;
      font-size: 2.2rem;
      font-size: 1.4rem;
    }
  }

  .button:hover {
    transform: scale(1.1);
  }

  .break {
    left: 0;
    top: 0;
    width: 100%;
    height: 20vh;
    background-color: black;
  }

  .card-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 28rem;
    margin-top: 3rem;

    @media screen and (max-width: 1800px) {
      margin-top: 6rem;
    }

    @media screen and (max-width: 1440px) {
      margin-top: 4rem;
    }

    @media screen and (max-width: 1200px) {
      padding: 0 18rem;
    }

    @media screen and (max-width: 1024px) {
      padding: 0 13rem;
    }

    @media screen and (max-width: 900px) {
      padding: 0 5rem;
    }

    @media screen and (max-width: 735px) {
      padding: 0 3rem;
    }

    @media screen and (max-width: 600px) {
      display: none;
    }

    .card-transport,
    .card-transfer,
    .card-eating,
    .card-bills,
    .card-family,
    .card-groceries,
    .card-shopping,
    .card-care,
    .card-vacation,
    .card-payroll,
    .card-entertainment,
    .card-investment {
      width: 20%;
      padding: 1rem 0;
      padding-bottom: 0.5rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      margin: 3rem 0;
      background-color: #ffffff;

      .radio {
        align-self: flex-end;
        margin-right: 1.5rem;
        font-size: 2rem;
        font-weight: 900;
      }

      ::placeholder {
        opacity: 0.48;
        font-family: Graphik;
        // font-size: 2.4rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.58px;
        color: #252525;
      }

      :focus {
        outline: none;
      }

      .card-img {
        width: 40%;
        margin-bottom: 0.5rem;
      }

      .error {
        display: none;
        color: red;
      }

      .card-text {
        width: 100%;
        margin-top: 1rem;
        font-family: Graphik;
        font-size: 2.2rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.41px;
        text-align: center;
        color: #3a3737;

        @media screen and (max-width: 1600px) {
          font-size: 2rem;
        }

        @media screen and (max-width: 1440px) {
          font-size: 1.8rem;
        }

        @media screen and (max-width: 1200px) {
          font-size: 1.6rem;
        }

        @media screen and (max-width: 1024px) {
          font-size: 1.4rem;
        }
      }

      .input {
        width: 80%;
        font-size: 3.4rem;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 0.8rem;
        padding: 0.5rem 0;
        border: none;
        border-radius: 3px;
        background-color: #f1f1f1;

        @media screen and (max-width: 1600px) {
          font-size: 3rem;
        }

        @media screen and (max-width: 1440px) {
          font-size: 2.8rem;
        }

        @media screen and (max-width: 1200px) {
          font-size: 2.4rem;
          margin-top: 2rem;
        }

        @media screen and (max-width: 1024px) {
          font-size: 2rem;
        }
      }

      @media screen and (max-width: 1600px) {
        width: 20%;
      }

      @media screen and (max-width: 1200px) {
        width: 20%;
        margin-top: 0;
      }
    }

    .card-transport,
    .card-transfer,
    .card-eating,
    .card-family,
    .card-groceries,
    .card-shopping,
    .card-vacation,
    .card-payroll,
    .card-entertainment {
      margin-right: 3rem;

      @media screen and (max-width: 1800px) {
        margin-right: 5rem;
      }

      @media screen and (max-width: 1600px) {
        margin-right: 4rem;
      }

      @media screen and (max-width: 900px) {
        margin-right: 2rem;
      }
    }
  }
} //End of Tracker Page CSS

//Result Page CSS
.result {
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 320px) {
    padding: 0 5%;
  }

  .baller-emoji {
    position: absolute;
    top: 1rem;
    left: auto;
    width: 18rem;
    height: 18rem;
    // margin-top: 15rem;
    object-fit: contain;
    align-self: center;
    z-index: 1;

    @media screen and (max-width: 1440px) {
      width: 15rem;
    }

    @media screen and (max-width: 1200px) {
      width: 13rem;
      height: 13rem;
    }

    @media screen and (max-width: 1024px) {
      width: 11rem;
      height: 11rem;
    }

    @media screen and (max-width: 600px) {
      width: 12rem;
    }

    @media screen and (max-width: 600px) {
      width: 10rem;
      height: 10rem;
    }
  }

  .leaf-bottom-right {
    position: fixed;
    bottom: 0rem;
    right: 0;
    width: 40%;
    object-fit: contain;
    z-index: -1;

    @media screen and (max-width: 1600px) {
      bottom: 0rem;
      right: 0rem;
      width: 40%;
      transform: rotate(5deg);
      transform-origin: 20% 150%;
    }

    @media screen and (max-width: 1440px) {
      bottom: 0rem;
      right: 0rem;
      width: 40%;
      transform: rotate(5deg);
      transform-origin: 20% 150%;
    }

    @media screen and (max-width: 1200px) {
      bottom: 0rem;
      right: 0rem;
      width: 40%;
      transform: rotate(5deg);
      transform-origin: 20% 150%;
    }

    @media screen and (max-width: 1024px) {
      bottom: 0rem;
      right: 0rem;
      width: 60%;
      transform: rotate(5deg);
      transform-origin: 20% 150%;
    }

    @media screen and (max-width: 900px) {
      bottom: 0rem;
      right: 0rem;
      width: 60%;
      transform: rotate(5deg);
      transform-origin: 20% 80%;
    }

    @media screen and (max-width: 600px) {
      bottom: 0rem;
      right: 0rem;
      width: 80%;
      transform: rotate(5deg);
      transform-origin: 20% 80%;
    }
  }
  // .morph-icon-left {
  //   position: fixed;
  //   bottom: 0rem;
  //   left: 0;
  //   width: 40%;
  //   z-index: -1;

  //   @media screen and (max-width: 1024px) {
  //     top: 0rem;
  //     left: 0rem;
  //     width: 60%;
  //     transform: rotate(10deg);
  //     transform-origin: 100% -210%;
  //   }
  // }
  // .morph-icon-right {
  //   position: fixed;
  //   bottom: 9rem;
  //   right: 5rem;
  //   width: 57%;
  //   z-index: -1;

  //   @media screen and (max-width: 1024px) {
  //     bottom: 0rem;
  //     right: 0rem;
  //     width: 90%;
  //     transform: rotate(10deg);
  //     transform-origin: -170% 230%;
  //   }

  //   @media screen and (max-width: 600px) {
  //     bottom: 0rem;
  //     right: 0rem;
  //     width: 100%;
  //     transform: rotate(5deg);
  //     transform-origin: -290% 300%;
  //   }
  // }

  .duration {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .monthly {
    position: relative;
    align-self: center;
    z-index: 1;
    margin-top: 0.5rem;
    color: #3f3f3f;
    font-weight: 600;
    font-size: 2.5rem;
    opacity: 0.6;
    background-color: #fef2f1;
    cursor: pointer;
  }

  select:focus {
    outline: none;
  }

  .baller {
    width: 100%;
    margin-top: 20rem;
    font-family: Graphik;
    font-size: 6rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: #3f3f3f;

    @media screen and (max-width: 1440px) {
      font-size: 4rem;
    }

    @media screen and (max-width: 1200px) {
      font-size: 3.6rem;
      margin-top: 14rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 3.2rem;
    }

    @media screen and (max-width: 900px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 600px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 2.6rem;
      margin-top: 11.5rem;
    }
  }

  .the-money-monk-comment,
  .the-essentialist-comment,
  .the-sensible-sage-comment,
  .the-baby-baller-comment,
  .the-spontanious-spender-comment,
  .the-big-spender-comment,
  .the-generous-sage-comment,
  .the-money-maestro-comment {
    display: none;
    width: 100%;
    margin-top: 1.5rem;
    opacity: 0.6;
    font-family: Graphik;
    font-size: 2.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #3f3f3f;

    @media screen and (max-width: 1200px) {
      font-size: 2.4rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 2.2rem;
    }

    @media screen and (max-width: 900px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 600px) {
      font-size: 1.6rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.4rem;
      margin-top: 1rem;
    }
  }

  .amount {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
    font-family: Graphik;
    font-size: 8.8rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    align-self: center;
    color: #3f3f3f;

    @media screen and (max-width: 1440px) {
      font-size: 7rem;
      margin-top: 3rem;
    }

    @media screen and (max-width: 1200px) {
      font-size: 5rem;
      margin-top: 2rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 6rem;
    }

    @media screen and (max-width: 900px) {
      font-size: 5rem;
    }

    @media screen and (max-width: 600px) {
      font-size: 4.4rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 4rem;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 6rem;
    margin-top: 6rem;
    font-family: Graphik;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    align-self: center;
    color: #ffffff;
    background-color: #f47079;
    border-radius: 16px;
    z-index: 3;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    @media screen and (max-width: 1440px) {
      margin-top: 3rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.4rem;
    }
  }

  .btn:hover {
    transform: scale(1.1);
  }

  .share-icon {
    width: 100%;
    padding: 0 42%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .icon1,
    .icon2,
    .icon3,
    .icon4 {
      position: static;
      z-index: 1;
      display: flex;
      justify-content: center;
      width: 5rem;
      padding: 1rem;
      border-radius: 50%;
      margin-top: 2rem;
    }

    .link {
      .icon {
        width: 3rem;
      }
    }
  }

  .share {
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-family: Graphik;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    align-self: center;
    color: #15777c;
  }
}
