.signup-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  .leaf-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    z-index: -1;

    @media screen and (max-width: 900px) {
      top: 0rem;
      right: 0rem;
      width: 20%;
      transform: rotate(130deg);
      transform-origin: 275% 175%;
      overflow: hidden;
    }

    @media screen and (max-width: 600px) {
      width: 25%;
      transform: rotate(130deg);
      transform-origin: 224% 150%;
      overflow: hidden;
    }
  }
  .leaf-center {
    position: fixed;
    top: -3rem;
    align-self: center;
    width: 15%;
    z-index: -1;

    @media screen and (max-width: 1440px) {
      top: -2rem;
    }

    @media screen and (max-width: 600px) {
      top: 0;
      width: 20%;
    }
  }
  .leaf-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    z-index: -1;

    @media screen and (max-width: 900px) {
      top: 0rem;
      left: 0rem;
      width: 20%;
      transform: rotate(-130deg);
      transform-origin: 25% 70%;
    }

    @media screen and (max-width: 600px) {
      top: 0rem;
      left: 0rem;
      width: 25%;
      transform: rotate(-130deg);
      transform-origin: 25% 70%;
    }
  }

  .morph-icon-left {
    display: none;
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    width: 40%;
    transform: rotate(10deg);
    z-index: -1;

    @media screen and (max-width: 600px) {
      display: block;
      top: -5rem;
      left: -20rem;
      width: 60%;
      transform: rotate(5deg);
    }

    @media screen and (max-width: 426px) {
      top: 0rem;
      left: -15rem;
      width: 60%;
      transform: rotate(5deg);
    }

    @media screen and (max-width: 375px) {
      top: 0rem;
      left: -10rem;
      width: 60%;
      transform: rotate(5deg);
    }

    @media screen and (max-width: 320px) {
      top: 0rem;
      left: -10rem;
      width: 65%;
      transform: rotate(5deg);
    }
  }
  .morph-icon-right {
    display: none;
    position: fixed;
    top: 0rem;
    right: 0rem;
    width: 50%;
    transform: rotate(10deg);
    z-index: -1;

    @media screen and (max-width: 600px) {
      display: block;
      top: 8rem;
      right: -40rem;
      width: 140%;
      transform: rotate(5deg);
    }

    @media screen and (max-width: 426px) {
      top: 10rem;
      right: -33rem;
      width: 155%;
      transform: rotate(5deg);
    }

    @media screen and (max-width: 375px) {
      top: 10rem;
      right: -28rem;
      transform: rotate(5deg);
    }

    @media screen and (max-width: 320px) {
      top: 10rem;
      right: -40rem;
      width: 200%;
      transform: rotate(5deg);
    }
  }

  .morph-icon-left-desktop {
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    width: 70rem;
    transform: rotate(10deg);
    z-index: -1;

    @media screen and (max-width: 1600px) {
      bottom: 0rem;
      left: 0rem;
      width: 50rem;
      transform: rotate(10deg);
    }

    @media screen and (max-width: 1440px) {
      bottom: 0rem;
      left: 0rem;
      width: 55rem;
      transform: rotate(10deg);
    }

    @media screen and (max-width: 1200px) {
      bottom: 0rem;
      left: 0rem;
      width: 45rem;
      transform: rotate(10deg);
    }

    @media screen and (max-width: 1024px) {
      bottom: 0rem;
      left: 0rem;
      width: 40rem;
      transform: rotate(10deg);
    }

    @media screen and (max-width: 900px) {
      bottom: 0rem;
      left: 0rem;
      width: 40rem;
      transform: rotate(10deg);
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  .morph-icon-right-desktop {
    position: fixed;
    top: -30rem;
    right: 0rem;
    width: 95rem;
    transform: rotate(10deg);
    z-index: -1;

    @media screen and (max-width: 1600px) {
      top: -25rem;
      right: 0rem;
      width: 80rem;
      transform: rotate(10deg);
    }

    @media screen and (max-width: 1440px) {
      top: -20rem;
      right: 0rem;
      width: 70rem;
      transform: rotate(10deg);
    }

    @media screen and (max-width: 1200px) {
      top: -20rem;
      right: 0rem;
      width: 60rem;
      transform: rotate(10deg);
    }

    @media screen and (max-width: 1024px) {
      top: -15rem;
      right: 0rem;
      width: 50rem;
      transform: rotate(10deg);
    }

    @media screen and (max-width: 900px) {
      top: -13rem;
      right: 0rem;
      width: 40rem;
      transform: rotate(10deg);
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .hero-text {
    &__primary {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      align-self: center;
      color: $color-text;
      margin-top: 3rem;

      @media screen and (max-width: 1200px) {
        font-size: 3rem;
      }

      @media screen and (max-width: 1024px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 900px) {
        margin-top: 5rem;
      }

      @media screen and (max-width: 600px) {
        margin-top: 3rem;
      }
    }
    &__secondary {
      width: 100%;
      opacity: 0.5;
      font-size: 2.1rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.79;
      letter-spacing: normal;
      color: $color-text;
      align-self: center;
      margin-top: 0.5rem;

      @media screen and (max-width: 1024px) {
        font-size: 1.6rem;
      }

      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  .header2-div {
    align-self: center;
  }

  .header2 {
    display: none;
  }

  .header2-text {
    width: 100%;
    font-size: 4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    margin-top: 3rem;
    align-self: center;
    color: $color-text;

    .display-none {
      display: none;
    }

    .margin-bottom {
      margin-bottom: 3.2rem;
    }

    .name-color {
      color: #15777c;
    }

    @media screen and (max-width: 1200px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 2.4rem;
    }

    @media screen and (max-width: 900px) {
      margin-top: 5rem;
    }

    @media screen and (max-width: 600px) {
      margin-top: 3rem;
    }
  }

  .btn1,
  .btn2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 31rem;
    width: 5vw;
    height: 17rem;
    z-index: 2;
    background-color: #15777c;
    cursor: pointer;

    @media screen and (max-width: 1440px) {
      top: 31.7rem;
      height: 12rem;
    }

    @media screen and (max-width: 1200px) {
      top: 30.5rem;
      height: 10rem;
    }

    @media screen and (max-width: 1024px) {
      top: 29rem;
      width: 6vw;
      height: 7rem;
    }

    @media screen and (max-width: 1024px) {
      width: 8vw;
    }
  }

  .btn1 {
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
  }

  .btn2 {
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    right: 0;
  }

  .oval {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -1;
    background-color: #115b5f;

    .arrow {
      color: #ffffff;
      font-size: 3.5rem;
      font-weight: 900;
      cursor: pointer;
    }
  }

  .slider {
    width: 100vw;
    display: flex;
    overflow-x: hidden;

    &__slide {
      display: flex;
      .card1,
      .card2,
      .card3 {
        position: relative;
        width: 46vw;
        left: 33vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-radius: 8px;
        box-shadow: 0 40px 56px 0 rgba(11, 16, 51, 0.06);
        margin-top: 3.2rem;
        padding: 4rem 0;
        padding-left: 3rem;
        background-color: #ffffff;
        z-index: 1;

        @media screen and (max-width: 1440px) {
          padding: 3rem 0;
          padding-left: 3rem;
        }

        @media screen and (max-width: 900px) {
          padding: 1.5rem 0;
          padding-left: 3rem;
        }

        .header {
          font-family: Graphik;
          font-size: 2.8rem;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.31;
          letter-spacing: normal;
          color: #000000;

          @media screen and (max-width: 1440px) {
            font-size: 2rem;
          }

          @media screen and (max-width: 1024px) {
            font-size: 1.4rem;
          }
        }

        .required {
          font-family: Graphik;
          font-size: 2rem;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.81;
          letter-spacing: normal;
          color: #f47079;
          margin-top: 1rem;

          @media screen and (max-width: 1440px) {
            font-size: 1.6rem;
            margin-top: 1.2rem;
          }

          @media screen and (max-width: 1024px) {
            font-size: 1.2rem;
          }
        }

        .input {
          ::placeholder {
            opacity: 0.1;
          }

          :focus {
            outline: none;
          }

          .input_tag {
            border: none;
            width: 40vw;
            font-family: Graphik;
            font-size: 5.2rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.71;
            letter-spacing: normal;
            color: #4e4e4e;
            margin-top: 1rem;

            @media screen and (max-width: 1440px) {
              font-size: 4rem;
              margin-top: 1.8rem;
            }

            @media screen and (max-width: 1024px) {
              font-size: 2.4rem;
            }
          }
        }
      }

      .card1,
      .card2 {
        width: 35vw;
        margin-right: 2vw;
        .input {
          .input_tag {
            width: 32vw;

            @media screen and (max-width: 900px) {
              width: 30vw;
            }
          }
        }
      }
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .slider-mobile {
    display: none;

    @media screen and (max-width: 600px) {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      overflow-x: hidden;

      .btn1-mobile,
      .btn2-mobile {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 27.2rem;
        width: 7.5vw;
        height: 8rem;
        z-index: 2;
        background-color: #15777c;
        cursor: pointer;
      }

      .btn1-mobile {
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
      }

      .btn2-mobile {
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        right: 0;
      }

      .oval1-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        z-index: -1;
        background-color: #115b5f;

        .arrow-mobile {
          color: #ffffff;
          font-size: 3rem;
          margin-left: 0rem;
          margin-top: -0.2rem;
          cursor: pointer;
        }
      }

      .oval2-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        z-index: -1;
        background-color: #115b5f;

        .arrow-mobile {
          color: #ffffff;
          font-size: 3rem;
          margin-right: -0.3rem;
          margin-top: -0.3rem;
          cursor: pointer;
        }
      }

      &__slide-mobile {
        display: flex;
        width: 100vw;

        .card1-mobile,
        .card2-mobile,
        .card3-mobile {
          position: relative;
          width: 100vw;
          left: 0vw;

          .card1-mobile-inner,
          .card2-mobile-inner,
          .card3-mobile-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            border-radius: 8px;
            box-shadow: 400px 100px 356px 0em rgba(0, 0, 0, 0.06);
            margin: 1rem 2rem;
            padding: 2rem 0;
            padding-left: 3rem;
            z-index: 1;
            background-color: #ffffff;
          }

          .header-mobile {
            font-size: 1.8rem;
            align-self: flex-start;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            color: #000000;
          }

          .required-mobile {
            font-family: Graphik;
            font-size: 1.2rem;
            align-self: flex-start;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.81;
            letter-spacing: normal;
            color: #f47079;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          .input-mobile {
            display: flex;
            justify-content: flex-start;
            width: 100vw;

            ::placeholder {
              opacity: 0.1;
              text-align: start;
            }

            :focus {
              outline: none;
              text-align: start;
            }

            .input_tag-mobile {
              border: none;
              width: 75vw;
              font-family: Graphik;
              align-self: flex-start;
              text-align: start;
              padding: 1rem;
              padding-left: 0;
              font-size: 2.4rem;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 0.71;
              letter-spacing: normal;
              background: transparent;
              color: #4e4e4e;
              margin-top: 1rem;
            }
          }
        }

        .card1-mobile,
        .card2-mobile {
          margin-right: 0vw;
        }
      }
    }
  }

  .button {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;

    @media screen and (max-width: 600px) {
      display: flex;
    }
  }

  .btn {
    width: 50%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    align-self: center;
    font-size: 1.7rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: $color-white;
    padding: 1.5rem 4.5rem;
    border-radius: 0.8rem;
    z-index: 2;
    background-color: $color-btn-bkg;
    transition: all 0.4s;
    transition: all 0.2s ease-in-out;
  }

  .pie-chart {
    position: fixed;
    top: 65rem;
    left: 105rem;

    @media screen and (max-width: 1600px) {
      left: 90rem;
    }

    @media screen and (max-width: 1440px) {
      left: 85rem;
      top: 58rem;
    }

    @media screen and (max-width: 1200px) {
      left: 70rem;
      top: 48rem;
      width: 6rem;
    }

    @media screen and (max-width: 1024px) {
      left: 60rem;
      top: 40rem;
      width: 6rem;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
} //end of signup page css
